
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Segoe UI", Arial, sans-serif;
   background: #f1e7dc;
    padding: 35px;
    color: #3e2723;
}


/* MAIN */

.resume {
    max-width: 1250px;
    margin: auto;

    display: grid;
    grid-template-columns: 32% 68%;

    background: white;

    border-radius: 24px;
    overflow: hidden;

    box-shadow: 0 20px 50px rgba(80, 50, 30, 0.18);
}


/* ================= LEFT ================= */

.left {
    background:
        linear-gradient(145deg, #3e2723, #5d4037 55%, #795548);

    color: white;
    padding: 42px 32px;
}


/* PROFILE */

.profile {
    text-align: center;
}

.photo-box {
    width: 155px;
    height: 155px;

    margin: auto;
    padding: 6px;

    border-radius: 50%;

    background: linear-gradient(135deg, #c9a27e,#c9a27e);
}

.photo-box img {
    width: 100%;
    height: 100%;

    object-fit: cover;

    border-radius: 50%;
    border: 4px solid #5d4037;
}

.profile h1 {
    margin-top: 22px;
    font-size: 30px;
}

.role {
    margin-top: 8px;
    color: #e8c9a8;
    font-size: 16px;
}


/* SOCIAL */

.social {
    margin-top: 18px;
}

.social a {
    display: inline-flex;

    width: 35px;
    height: 35px;

    margin: 4px;

    align-items: center;
    justify-content: center;

    border-radius: 50%;

    color: white;
    background: rgba(255,255,255,0.12);

    text-decoration: none;

    transition: 0.3s;
}

.social a:hover {
    background: #c9a27e;
    color: #3e2723;
    transform: translateY(-3px);
}


/* LEFT SECTIONS */

.left-section {
    margin-top: 38px;
}

.left-section h2 {
    display: inline-block;

    font-size: 20px;

    margin-bottom: 15px;

    border-bottom: 2px solid #c9a27e;

    padding-bottom: 7px;
}

.left-section > p {
    color: #f1e4d7;
    line-height: 1.7;
    font-size: 14px;
}


/* CONTACT */

.contact-item {
    display: flex;
    align-items: center;

    gap: 13px;

    margin: 15px 0;

    color: #f1e4d7;

    font-size: 14px;
}

.contact-item i {
    color: #d6b18b;
    width: 20px;
}


/* INTERESTS */

.interest {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.interest span {
    padding: 8px 11px;

    border-radius: 20px;

    background: rgba(255,255,255,0.12);

    font-size: 12px;
}


/* LANGUAGES */

.language p {
    display: flex;
    justify-content: space-between;

    margin: 13px 0;

    color: #f1e4d7;
}

.language b {
    color: #d6b18b;
    font-size: 12px;
}


/* ================= RIGHT ================= */

.right {
    padding: 45px 50px;
}


/* HEADING */

section {
    margin-bottom: 45px;
}

.heading {
    display: flex;
    align-items: center;

    gap: 15px;

    margin-bottom: 25px;
}

.heading > span {
    font-size: 32px;
    font-weight: 800;

    color: #e4d3c2;
}

.heading h2 {
    color: #4e342e;
    font-size: 27px;
}

.heading p {
    color: #806f65;
    font-size: 13px;
    margin-top: 3px;
}


/* SKILLS */

.skills {
    display: grid;

    grid-template-columns: repeat(4, 1fr);

    gap: 15px;
}

.skill {
    
    padding: 17px 10px;

    text-align: center;

    border-radius: 14px;

    background: #faf5f0;

    border: 1px solid #eadbd0;

    color: #65483c;

    transition: 0.3s;
}
a.skill,
 a.skill:visited, 
 a.skill:active,
  a.skill:hover {
    text-decoration: none !important;
    color: #65483c !important;
}

.skill i {
    display: block;

    font-size: 25px;

    margin-bottom: 8px;

    color: #8d5f45;
}

.skill span {
    font-size: 13px;
    font-weight: 600;
}

.skill:hover {
    transform: translateY(-5px);
    background: #f4e9df;
    box-shadow: 0 8px 20px rgba(100,70,50,0.12);
}


/* EDUCATION */

.education {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.edu-card {
    display: flex;
    align-items: center;

    gap: 20px;

    padding: 18px;

    border-radius: 15px;

    background: #faf6f2;

    border-left: 5px solid #9a6b4f;

    transition: 0.3s;
}

.edu-card:hover {
    transform: translateX(5px);
}

.edu-year {
    min-width: 65px;

    text-align: center;

    font-weight: bold;

    color: #875b43;
}

.edu-card h3 {
    color: #594037;
    margin-bottom: 5px;
}

.edu-card p {
    color: #75665e;
    font-size: 14px;
}

.edu-card small {
    color: #9a8b82;
}


/* TIMELINE */

.timeline {
    position: relative;

    padding-left: 25px;

    border-left: 2px solid #d8c2b1;
}

.timeline-item {
    position: relative;

    margin-bottom: 30px;
}

.dot {
    position: absolute;

    width: 13px;
    height: 13px;

    border-radius: 50%;

    background: #8d5f45;

    left: -32px;
    top: 4px;

    box-shadow: 0 0 0 5px #f1e5da;
}

.timeline-item h3 {
    color: #624538;

    margin-bottom: 7px;
}

.timeline-item p {
    color: #766961;

    line-height: 1.6;

    font-size: 14px;
}


/* PROJECTS */

.projects {
    display: grid;

    grid-template-columns: repeat(3, 1fr);

    gap: 16px;
}

.project-card {
    padding: 22px;

    border-radius: 17px;

    background: #faf6f2;

    border: 1px solid #e6d8cd;

    transition: 0.3s;
}

.project-card:hover {
    transform: translateY(-7px);

    box-shadow: 0 12px 25px rgba(80,50,35,0.12);
}

.project-icon {
    width: 45px;
    height: 45px;

    display: flex;

    align-items: center;
    justify-content: center;

    border-radius: 12px;

    background: #ead8c8;

    color: #8a5c42;

    font-size: 20px;

    margin-bottom: 15px;
}

.project-card h3 {
    color: #5c4034;

    margin-bottom: 9px;
}

.project-card p {
    color: #786b64;

    font-size: 13px;

    line-height: 1.6;
}


/* PROJECT TAGS */

.tags {
    margin-top: 15px;
}

.tags span {
    display: inline-block;

    padding: 5px 9px;

    margin-right: 4px;

    border-radius: 10px;

    background: #ead9ca;

    color: #76503c;

    font-size: 10px;

    font-weight: bold;
}


/* ================= RESPONSIVE ================= */

@media (max-width: 950px) {

    body {
        padding: 15px;
    }

    .resume {
        grid-template-columns: 1fr;
    }

    .right {
        padding: 35px 25px;
    }

    .skills {
        grid-template-columns: repeat(2, 1fr);
    }

    .projects {
        grid-template-columns: 1fr;
    }
}


@media (max-width: 500px) {

    .left {
        padding: 30px 22px;
    }

    .right {
        padding: 30px 18px;
    }

    .profile h1 {
        font-size: 25px;
    }

    .skills {
        grid-template-columns: 1fr 1fr;
    }

    .heading h2 {
        font-size: 23px;
    }
}
